/* .grid-container {
    display: grid;
    grid-template-rows: repeat(3,150px);
    /* grid-template-rows: 1fr 4fr 1fr; */

/* grid-template-areas: 
    "header header header" 
    "main   main   sidebar"
     "footer footer ."; 
    grid-row-gap: 10px;
    grid-column-gap: 20px; 
    grid-gap: 10px 20px; 
     gap: 10px 20px; */
h1{

    font-family: cursive;
}
body {
    background-color: rgb(43, 42, 42);
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

canvas {
    text-align: center;
    border: 1px solid black;
    /* float: left; */
}

button, input {
    /* float: left; */
}

.canvas-container {}

.meme-editor {
    background-color: gray;
/* float:left; */
    /* display: grid;
    grid-template-columns: 25px 25px 25px;
    grid-template-rows: 1fr 25px 25px 25px; */
}
.meme-line
{

    float:left;
    margin-left:50px ;
}