h1 {
    font-family: cursive;
}

body {
    background-color: rgb(43, 42, 42);
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

canvas {
    text-align: center;
    border: 1px solid black;
}

.meme-editor {
    background-color: gray;
    font-family: cursive;
}
button{
font-weight: 600;
font-family: cursive;
}
/* .meme-line {
    float: left;
    margin-left: 50px;
} */