@import "mobile.css";
@import "desktop.css" screen and (min-width: 750px);

body {
    background-color: rgb(43, 42, 42);
    text-align: center;
}

h1 {
    font-family: cursive;
    background-color: rgb(255, 204, 0);
    width: 90vw;
    margin: auto;
    height: 79px;
}

.memes img:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

canvas {
    text-align: center;
    border: 1px solid black;
}

.meme-editor {
    background-color: rgb(105, 82, 63);
    font-family: cursive;
    width: 90vw;
    margin: auto;
}

button {
    font-weight: 600;
    font-family: cursive;
    min-width: 48px;
}

nav {
    margin-bottom: 2px;
}

nav img {
    position: absolute;
    top: 0px;
}

option {
    font-family: cursive;
}

.grid-container {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    grid-gap: 0px;
}

.grid-child-line {
    text-align: right;
    font-size: 2rem;
}